body {
    background-color: #f0f8f0;
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 150px, 150px;
    margin: 0;
    padding: 0;
}

.form-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #c4e5c4;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h2, h3 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #4CAF50; /* Changed to green */
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-transform: capitalize; /* Indicates capitalization */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.forecast-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 600px) {
    .form-container {
        width: 90%;
        padding: 10px;
    }

    input {
        width: 100%;
    }
}
